<!doctype html>
<html lang="en">

<head>
  <title>Dixit jest spoko</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <script src="js/vue.min.js"></script>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <h1>
          <img src="logo.png" class="img-fluid" alt="Tixid - dixit board">
        </h1>
      </div>
    </div>

    <div id="app">
      <!-- <div class="row head d-xs-none d-sm-none">
        <div class="col-md-3 col-xs-12">
          <p>Gracz</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <p>Wynik</p>
        </div>
        <div class="col-md-3 col-xs-12">
          <p>Akcje</p>
        </div>
      </div> -->
      <div class="empty-game" v-show="rows.length == 0">

        <h2>Witaj w TIXID!</h2>
        <h4>Kliknij aby rozpocząć rozgrywkę.</h4>
        <button class="btn btn-default float-right" @click="addRow">Rozpocznij</button>

      </div>
      <div v-for="(row, index) in rows">
        <div class="row">
          <div class="col-md-3 col-xs-12">
            <div class="player-name-wrap">
              <p contenteditable="true" v-model="row.name">
                {{row.name}}
                <span v-show="row.name === 'Gracz'" class="player-index">
                  {{ index + 1 }}
                </span>
              </p>
            </div>

          </div>
          <div class="col-md-5 col-xs-12">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                style="max-width: 100%;" :style="{ width: row.width + '%' }" v-bind:class="{'bg-winner': row.score >= 30}">
                <span class="rabbit"></span>
                <p class="winner" v-if="(row.width >= 100 && row.width <118)">Jesteś zwycięzcą!</p>
                <p class="winner" v-else-if="row.width >= 118">Jesteś perłą, diamentem!</p>
              </div>
            </div>
          </div>
          <div class="col-md-1 col-xs-6">
            <p>{{ row.score }} pkt</p>

          </div>
          <div class="col-md-3 col-xs-6 actions">
            <!--  <a href="javascript:void(0)" class="btn btn-warning" @click="row.width = row.width - step; row.score--" v-bind:class="{'disabled': row.score == 0}">-1</a>
 -->
            <!--   <a href="javascript:void(0)" class="btn btn-success" @click="row.width = row.width + step; row.score++">+1</a>
 -->
            <a href="javascript:void(0)" class="btn btn-warning" @click="decreaseScore(row)" v-bind:class="{'disabled': row.score == 0}">-1</a>

            <a href="javascript:void(0)" class="btn btn-success" @click="increaseScore(row)">+1</a>

            <a class="btn btn-danger float-right" @click="removeRow(index)">X</a>
          </div>
          <div class="col-md-12 col-xs-12">
            <hr>
          </div>
        </div>
      </div>
      <div v-show="rows.length > 0">
        <button class="btn btn-new-player" @click="addRow" :class="{'disabled': rows.length >= 12}">+</button>
      </div>
    </div>

    <script src="js/app.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
